
main{
   text-align: center;
   margin:auto;
}

main button{
   width: 15rem;
   margin:40px auto 40px auto;
}

#accounts{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content:center;
   line-height:2.3rem;
   gap:2.3em;
   flex-wrap: wrap;
   margin:4rem auto;
   width:100%;
}

.specificAccountsContainer{
   --bg-filter-opacity: 0.8;
   height: 25rem;
   width: 18rem;
   font-size: 1.5em;
   color: white;
   border-radius: 1rem;
   padding: 1rem;
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
   background-size: cover;
   background-position: center;
   box-shadow: 0 0 3rem -1rem var(--text-color);
   overflow: hidden;
   border: 2px solid var(--text-color);
   text-decoration: none;
   background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))),url( '../images/property.png');
   animation: fadeIn 1s ease-in-out forwards;
   white-space: nowrap;
   text-align: left;
}

.highlighted {
   box-shadow: var(--text-color) 0px 0px 100px;
}
.accountDetails{
   padding:0 0 0.4rem 0.4rem;
}
.accountValue{
   max-width: 90%;
   overflow: hidden;
}
.accountValue.standard{
   color:#15CF74;
}

.accountValue.debt{
   color:red;
}

.specificAccountsContainer h1{
   font-size: 1.7rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}


.specificAccountsContainer h3{
   font-size: 1.2rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.editAccountButton{
   width:7rem;
   height: 2.5rem;
   margin:0.3rem auto;
   padding:0;
   font-size: 1.1rem;
   color:white;
   border:0;
   border-radius: 25px;
   background: #15CF74;
   cursor:pointer;
}

@keyframes slideDown {
   from {
      transform: translateY(-115px);
   }
   to {
      transform: translateY(0px);
   }
 }

 @keyframes slideUp {
   from {
      opacity:1;
      transform: translateY(0px);
   }
   to {
      opacity: 0;
      transform: translateY(-50px);
   }
 }

 @keyframes emptySlideDown {
   from {
      transform: translateY(-107px);
   }
   to {
      transform: translateY(0px);
   }
 }


 .no-transaction{
   font-size: 1.5em;
   font-weight: bolder;

   background: #24252A;
   color: white;
   height:150px;

   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

   transition: transform 1.5s ease-in-out;
   animation:emptySlideDown 1.5s ease-in-out forwards;
}


.addedTransaction{
   transition: transform 1.5s ease-in-out;
   animation:emptySlideUp 1.5s ease-in-out forwards;
}

#transactionsSection{
   width: 100%;
   margin:3rem auto;
}


.removedTransaction{
   transition-property: transform,opacity !important;
   transition-duration: 2s !important;
   transition-timing-function: ease-in-out !important;
   animation:slideUp 2s ease-in-out forwards !important;
}

#transactionsTable{
   width:100%;
   margin:0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   gap:0;
   overflow:auto;
}

.transactionHeadings{
   display: grid;
   grid-template-columns: 0.5fr 0.5fr 0.5fr 0.1fr 0.5fr 0.1fr;
   gap:2rem;
   padding:0 20px;
   align-items: center;
   font-weight: bolder;
   width:100%;
   font-size:1.3rem;
   color:#ffffff;
   background-color: #08B0FF;
   border: 0;
   min-height:10rem;
   text-align: center;
}

.transactions{
   width:100%;
   max-height: 700px;
   overflow-y:scroll;
   transition: all 0.3s ease;
}
.transactionRow{
   display: grid;
   grid-template-columns: 0.5fr 0.5fr 0.5fr 0.1fr 0.5fr 0.1fr;
   column-gap: 2rem;
   align-items: center;
   min-width:100%;
   width:auto;
   padding:0 20px;
   font-size:1.1rem;
   font-weight: bolder;
   background-color: #24252A;
   color:white;
   transition: transform 2s ease-in-out;
   animation: slideDown 2s ease-in-out forwards;
   border-top: 5px white;
   text-align: center;
   position: relative;
   left: 0;
}

.transactionRow:hover{
   transition:none;
   background:#969A96;
}


.transactionRow button{
   width:3rem;
   color:var(--background-color);
   font-size:1.1em;
   max-width:2em;
   max-height:2em;
   background:none;
}

.transactionRow button:hover{
   color:#08B0FF;
   cursor:pointer;
   box-shadow:none;
}

.transactionRow button[disabled]{
   background:none;
   color:#aca8a8;
}

.transactionRow p.Income{
   color:#08B0FF;
}

.transactionRow p.Expenses{
   color:red;
}

.transactionRow p, .transactionHeadings p{
   min-width: 250px;
}

@media only screen and (max-width:600px) {
   main{
      width:95%;
      margin:auto;
   }
   #accounts{
      width:90%;
      max-width: 100%;
      padding: 0;
   }

}

