
main{
   text-align: center;
   margin:auto;
}

main button{
   width: 15rem;
   margin:40px auto 40px auto;
}


#accounts{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content:center;
   line-height:2.3rem;
   gap:2.3em;
   flex-wrap: wrap;
   padding:2rem 0 2rem 0;
   width:100%;
   margin:auto;
}



.specificAccountsContainer {
   border-radius: 7px;
   box-shadow: var(--text-color) 0px 0px 4px;
   overflow: hidden;
   text-align: center;

   background: var(--text-color);
   color: var(--background-color);
   width:21rem;
   max-width:90%;
   height:28.5rem;
   padding:0;
   margin:0;
   animation: fadeIn 1s ease-in-out forwards;
}


.highlighted {
   box-shadow: var(--text-color) 0px 0px 100px;
}

.imageContainer img{
   overflow: hidden;
   width: 100%;
   height: 12.5rem;
   object-fit: cover;
   box-shadow: var(--background-color) 0px 0px 3px;
}
.accountDetails {
   padding:2rem;
}

.specificAccountsContainer h1{
   font-size: 2rem;

   white-space: wrap;
   overflow: hidden;
   text-overflow: ellipsis;
}


.specificAccountsContainer h3{
   font-size: 1.4rem;
   word-wrap: break-word;
}

.editAccountButton{
   width:7rem;
   height: 2.5rem;
   margin:0.3rem auto;
   padding:0;
   font-size: 1rem;
   color:white;
   border:0;
   border-radius: 25px;
   background: #15CF74;
   cursor:pointer;
}

.editAccountButton:hover{
   box-shadow:0 20px 25px -5px #333333, 0 8px 10px -6px #333333;
}

@keyframes slideDown {
   from {
      opacity: 0;
      transform: translateY(-115px);
   }
   to {
      transform: translateY(0px);
      opacity: 1;
   }
 }

 @keyframes slideUp {
   from {
      opacity: 1;
      transform: translateY(0px);
   }
   to {
      opacity: 0;
      transform: translateY(-50px);
   }
 }

 @keyframes emptySlideDown {
   from {
      opacity: 0;
      transform: translateY(-107px);
   }
   to {
      opacity: 1;
      transform: translateY(0px);
   }
 }


 .no-transaction{
   font-size: 1.5em;
   font-weight: bolder;

   background: var(--text-color);
   color: var(--background-color);

   height: 150px;
   transition: transform 1.5s ease-in-out ,opacity 1.5s ease-in-out;
   animation:emptySlideDown 1.5s ease-in-out forwards;
}

.addedTransaction{
   transition: transform 1.5s ease-in-out,opacity 1.5s ease-in-out;
   animation:emptySlideUp 1.5s ease-in-out forwards;
}

#transactionsSection{
   width:100%;

   margin:3rem auto;


}

#transactionsTable{
   max-height: 700px;
   overflow:auto;
}

.removedTransaction{
   transition: transform 1.5s ease-in-out, height 1.5s ease-in-out, opacity 1.5s ease-in-out;
   animation:slideUp 0.5s ease-in-out forwards;
}

table{
   width:100%;
   margin:0 auto;
   text-align: center;
   border-collapse:collapse;
   text-align: center;
}


table th{
   font-size:1.3rem;
   color:#ffffff;
   background-color: #178eef;
   padding:25px;
   border: 0;
   position: sticky;
   top: -10px;
   z-index: 1;
   height:3.7rem;
}

table tbody tr{
   width:100%;

   font-size:1.1rem;
   font-weight: bolder;
   background-color: var(--text-color);
   color:var(--background-color);
   height:6.2rem;
   border: 0;
   transition: transform 2s ease-in-out;
   animation: slideDown 2s ease-in-out forwards;
   border-bottom: 2px solid var(--background-color);
   text-align: center;
}

table tbody tr:hover{
   transition:none;
   background:#969A96;
}


table button{
   width:3rem;
   font-size:2.5rem;
   color:var(--background-color);
   font-size:1.1em;
   max-width:2em;
   max-height:2em;
   background:none;
}

table button:hover{
   color:#178eef;
   cursor:pointer;
   box-shadow:none;
}

table button[disabled]{
   background:none;
   color:#aca8a8;
}

td.Income{
   color:#178eef;
}

td.Expenses{
   color:red;
}
table td, th{
   width:100px;
   padding:10px 25px;
}
table td:nth-child(-n+3){
   max-width:40px;

   white-space: wrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

table td:last-child,table th:last-child{
   max-width:40px;
}

@media only screen and (max-width:600px) {
   main{
      width:95%;
      margin:auto;
   }
   #accounts{
      width:90%;
      max-width: 100%;
      padding: 0;
   }

   .specificAccountsContainer{
      height:30rem;
   }
}

