<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/shared/styles/form.css">
   <link rel="stylesheet" href="../resources/accounts/styles/accounts.css">
   <title>Asset Master</title>
   <link rel="icon" href="../resources/shared/images/logo.jpg">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
   <header>
      <div class = 'navBarContainer'>
         <i class="fas fa-bars" id="sidebarIcon"></i>
         <nav>
            <a href = "./home" id = 'logoContainer'><img src="../resources/shared/images/logo.png" alt="logo"> Asset Master</a>
            <a href = "./home"><i class="fa-solid fa-house"></i> Home</a>
            <a href = "./budget"><i class="fa-solid fa-chart-pie"></i> Budget</a>
            <a href = "./accounts"><i class="fa-solid fa-building-columns"></i> Accounts</a>
            <a href = "./settings"><i class="fa-solid fa-gear"></i> Settings</a>
         </nav>
      </div>
   </header>
   <main>
      <div class = 'mainImage'>
         <img src="../resources/accounts/images/account.png" alt="">
      </div>
      <div id = "accountsSection">
         <div id = "accountsContainers">
            <div id = "accounts">
            </div>
         </div>
         <button type="button" id = "addAccountButton" class = "addButton">
            Add an account <i class="fa-solid fa-plus"></i>
         </button>
         <div class = 'netWorthContainer'>
            <h2 id = 'netWorthText'>Net Worth: <span class = 'negativeNetWorth'>$0.00</span></h2>
         </div>
      </div>

      <div class="limiter">
         <div class="container-table100">
            <div class="wrap-table100">
               <div class="table100">
                  <table>
                     <thead>
                        <tr class="table100-head">
                           <th class="column1">Date</th>
                           <th class="column2">Account</th>
                           <th class="column3">Title</th>
                           <th class="column4">Category</th>
                           <th class="column5">Total</th>
                           <th class = 'column6'></th>
                        </tr>
                     </thead>
                     <tbody>
                     </tbody>
               </table>
               </div>
            </div>
         </div>
      <div>
         <button type="button" id = "addTransactionButton" class = "addButton">
            Add Transaction <i class="fa-solid fa-plus"></i>
         </button>
      </div>
   </div>


   </main>

   <div class = 'popupContainers'>
      <div class = 'popup' id = 'addAccountContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-building-columns"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = "exitAddAccountIcon"></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "addAccountForm" class = 'popupForm' novalidate>
               <h2>Add Account</h2>
               <label for="name">Account Name</label>
               <input type="text" name="name" id="name" placeholder="Name">
               <label for="type">Account Type</label>
               <select name="type" id="type">
                  <option value="Checking">Checking</option>
                  <option value="Savings">Savings</option>
                  <option value="Credit Card">Credit Card</option>
                  <option value="Retirement">Retirement</option>
                  <option value="Investment">Investment</option>
                  <option value="Loan">Loan</option>
                  <option value="Property">Property</option>
                  <option value="Other">Other</option>
                </select>
               <label for="balance">Account Balance</label>
               <input type="number" name="balance" id="balance" step="0.01" placeholder="0.00">
               <button type="submit" id = 'addAccountSubmitButton'>Submit</button>
            </form>
         </div>
      </div>

      <div class = 'popup' id = 'editAccountContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-building-columns"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = "exitEditAccountIcon"></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "editAccountForm" class = 'popupForm' novalidate>
               <h2>Edit Account</h2>
               <label for="name">Account Name</label>
               <input type="text" name="name" id="editName" placeholder="Name">
               <label for="editType">Account Type</label>
               <select name="type" id="editType">
                  <option value="Checking">Checking</option>
                  <option value="Savings">Savings</option>
                  <option value="Credit Card">Credit Card</option>
                  <option value="Retirement">Retirement</option>
                  <option value="Investment">Investment</option>
                  <option value="Loan">Loan</option>
                  <option value="Property">Property</option>
                  <option value="Other">Other</option>
                </select>
               <label for="balance">Account Balance</label>
               <input type="number" name="balance" id="editBalance" step="0.01" placeholder="0.00">
               <div class = 'sliderContainer'>
                  <label for="remove">Remove Account</label>
                  <label class="switch">
                     <input type="checkbox" name = 'remove' id = 'remove'>
                     <span class="slider"></span>
                   </label>
               </div>
               <button type="submit" id = 'editAccountSubmitButton'>Submit</button>
            </form>
         </div>

      </div>

      <div class = 'popup' id = 'addTransactionContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-credit-card"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = "exitAddTransactionIcon"></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "addTransactionForm" class = 'popupForm' novalidate>
               <h2>Add Transaction</h2>
               <label for="account">Account</label>
               <select name="account" id="account">
               </select>
               <label for="title">Title</label>
               <input type="text" name="title" id="title" placeholder="Title">
               <label for="category">Category</label>
               <select name="category" id="category">
               </select>
               <p>Categories may be added in <a href="./budget" target = "_blank">Budget Page <i class="fa-solid fa-circle-info"></i></a> </p>
               <label for="date">Date</label>
               <input type="date" id="date" name="date">
               <label for="amount">Amount</label>
               <input type="number" name="amount" id="amount">
               <button type="submit" id = 'addTransactionSubmitButton'>Submit</button>
            </form>
         </div>
      </div>

      <div class = 'popup' id = 'editTransactionContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-credit-card"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = "exitEditTransactionIcon"></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "editTransactionForm" class = 'popupForm' novalidate>
               <h2>Edit Transaction</h2>
               <label for="editAccount">Account</label>
               <select name="account" id="editAccount">

               </select>
               <label for="title">Title</label>
               <input type="text" name="title" id="editTitle" placeholder="Title">
               <label for="editCategory">Category</label>
               <select name="category" id="editCategory">
               </select>
               <p>Categories may be added in <a href="./budget" target = "_blank">Budget Page <i class="fa-solid fa-circle-info informational"></i></a> </p>
               <label for="editDate">Date</label>
               <input type="date" name="date" id="editDate" >
               <label for="editAmount">Amount</label>
               <input type="number" name="amount" id="editAmount">
               <div class = 'sliderContainer'>
                  <label for="removeTransaction">Remove Transaction</label>
                  <label class="switch">
                     <input type="checkbox" name = 'remove' id = 'removeTransaction'>
                     <span class="slider"></span>
                   </label>
               </div>
               <button type="submit" id = 'editTransactionSubmitButton'>Submit</button>
            </form>
         </div>
      </div>
   </div>

   <footer>
      <div class="footerLinkContainers">
         <h3>Resources</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Guides</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">News</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Tools</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">FAQs</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Blog</a></li>
         </ul>
      </div>
      <div class="footerLinkContainers">
         <h3>Pricing</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Plans</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Fees</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Costs</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Rates</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Billing</a></li>
         </ul>
      </div>
      <div class="footerLinkContainers" id="company_container">
         <h3>Company</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">About</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Mission</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Culture</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Careers</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Partners</a></li>
         </ul>
      </div>

      <div class="footerLinkContainers">
         <h3>Connect</h3>
         <div class = 'storeImageContainer'>
            <img src="../resources/shared/images/apple.png" alt="">
            <img src="../resources/shared/images/google.png" alt="">
         </div>
         <div class="footerMediaLinks" id = 'socialLinks'>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
         </div>
         <h5>Copyright &copy; <span id = 'footerYear'>2024</span> Asset Master &reg;</h5>
      </div>
   </footer>

   <script type="module" src="../resources/accounts/scripts/construct.js"></script>
   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/accounts/scripts/accounts.js"></script>
   <script type="module" src="../resources/accounts/scripts/transactions.js"></script>
</body>
</html>