<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/shared/styles/form.css">
   <link rel="stylesheet" href="../resources/accounts/styles/accounts.css">
   <title>Asset Master</title>
   <link rel="icon" href="../resources/shared/images/logo.jpg">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
   <header>
      <i class="fas fa-bars" id="sidebarIcon"></i>
      <div class = "headerTitle">
         <i class="fa-solid fa-layer-group fa-xl" id = 'logoIcon'></i>
         <h1>Asset Master</h1>
      </div>

      <nav>
         <i class="fa-solid fa-angles-left" id = 'exitSideBarIcon'></i>
         <a href = "./home">Home</a>
         <a href = "./budget">Budget</a>
         <a href = "./accounts">Accounts</a>
         <a href = "./settings">Settings</a>

         <div class = 'sliderContainer'>
            <label class="switch mode">
               <input type="checkbox" name = 'mode' id = 'mode' >
               <span class="slider mode"></span>
             </label>
         </div>
      </nav>
   </header>
   <main>

      <div id = "accountsSection">
         <div id = "accountsContainers">

            <div id = "accounts">

            </div>
         </div>

         <button type="button" id = "addAccountButton" class = "addButton">Add an account <i class="fa-solid fa-plus"></i>  </button>
         <div class = 'netWorthContainer'>
            <h2 id = 'netWorthText'>Net Worth: <span class = 'negativeNetWorth'>$0.00</span></h2>
         </div>
      </div>

      <div id = "transactionsSection">
         <div id = "transactionsTable">
            <div id = "transactionsTitle" class = "transaction">
               <h3>Account</h3>
               <h3>Description</h3>
               <h3>Category</h3>
               <h3>Date</h3>
               <h3>Total</h3>

            </div>

            <div id = "transactionsData">

            </div>

         </div>

         <div>
            <button type="button" id = "addTransactionButton" class = "addButton"> Add Transaction <i class="fa-solid fa-plus"></i> </button>
         </div>

      </div>

   </main>

   <div class = 'popupContainers'>
      <div class = 'popup' id = 'addAccountContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-building-columns"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = "exitAddAccountIcon"></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "addAccountForm" class = 'popupForm' novalidate>
               <h2>Add Account</h2>
               <label for="name">Account Name</label>
               <input type="text" name="name" id="name" placeholder="Name">
               <label for="type">Account Type</label>
               <select name="type" id="type">
                  <option value="Checking">Checking</option>
                  <option value="Savings">Savings</option>
                  <option value="Credit Card">Credit Card</option>
                  <option value="Retirement">Retirement</option>
                  <option value="Investment">Investment</option>
                  <option value="Loan">Loan</option>
                  <option value="Property">Property</option>
                  <option value="Other">Other</option>
                </select>
               <label for="balance">Account Balance</label>
               <input type="number" name="balance" id="balance" step="0.01" placeholder="0.00">
               <button type="submit" id = 'addAccountSubmitButton'>Submit</button>
            </form>
         </div>

      </div>

      <div class = 'popup' id = 'editAccountContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-building-columns"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = "exitEditAccountIcon"></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "editAccountForm" class = 'popupForm' novalidate>
               <h2>Edit Account</h2>
               <label for="name">Account Name</label>
               <input type="text" name="name" id="editName" placeholder="Name">
               <label for="type">Account Type</label>
               <select name="type" id="editType">
                  <option value="Checking">Checking</option>
                  <option value="Savings">Savings</option>
                  <option value="Credit Card">Credit Card</option>
                  <option value="Retirement">Retirement</option>
                  <option value="Investment">Investment</option>
                  <option value="Loan">Loan</option>
                  <option value="Property">Property</option>
                  <option value="Other">Other</option>
                </select>
               <label for="balance">Account Balance</label>
               <input type="number" name="balance" id="editBalance" step="0.01" placeholder="0.00">
               <div class = 'sliderContainer'>
                  <label for="remove">Remove Category</label>
                  <label class="switch">
                     <input type="checkbox" name = 'remove' id = 'remove'>
                     <span class="slider"></span>
                   </label>
               </div>
               <button type="submit" id = 'editAccountSubmitButton'>Submit</button>
            </form>
         </div>

      </div>

      <div class = 'popup' id = 'addTransactionContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-credit-card"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = "exitAddTransactionIcon"></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "addTransactionForm" class = 'popupForm' novalidate>
               <h2>Add Transaction</h2>
               <label for="account">Account</label>
               <select name="account" id="account">


               </select>

               <label for="title">Title</label>
               <input type="text" name="title" id="title" placeholder="Title">

               <label for="category">Category</label>
               <select name="category" id="category">

               </select>
               <p>Categories may be added in <a href="./budget" target = "_blank">Budget Page <i class="fa-solid fa-circle-info"></i></a> </p>
               <label for="date">Date</label>
               <input type="date" id="date" name="date">
               <label for="amount">Amount</label>
               <input type="number" name="amount" id="amount">
               <button type="submit" id = 'addTransactionSubmitButton'>Submit</button>
            </form>
         </div>

      </div>

      <div class = 'popup' id = 'addTransactionContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-credit-card"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = "exitEditTransactionIcon"></i>
         </div>
         <form id = "editTransactionForm" class = 'popupForm' novalidate>
            <h2>Add Transaction</h2>
            <label for="account">Account</label>
            <select name="account" id="editAccount">


            </select>

            <label for="title">Title</label>
            <input type="text" name="title" id="editTitle" placeholder="Title">

            <label for="category">Category</label>
            <select name="category" id="editCategory">

            </select>
            <p>Categories may be added in <a href="./budget" target = "_blank">Budget Page <i class="fa-solid fa-circle-info informational"></i></a> </p>
            <label for="date">Date</label>
            <input type="date" name="date" id="editDate" >
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="editAmount">
            <button type="submit" id = 'editTransactionSubmitButton'>Submit</button>
         </form>
      </div>



   </div>

   <footer>
      Copyright &copy; 2023 Asset Master
   </footer>

   <script type="module" src="../resources/accounts/scripts/construct.js"></script>
   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/accounts/scripts/accounts.js"></script>
   <script type="module" src="../resources/accounts/scripts/transactions.js"></script>
</body>
</html>