<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/shared/styles/form.css">
   <link rel="stylesheet" href="../resources/budget/styles/budget.css">
   <title>Asset Master</title>
   <link rel="icon" href="../resources/shared/images/logo.jpg">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
   <header>
      <div class = 'navBarContainer'>
         <i class="fas fa-bars" id="sidebarIcon"></i>
         <nav>
            <div id = 'logoContainer'>
               <img src="../resources/shared/images/logo.png" alt="logo">
               <h1>Asset Master</h1>
            </div>
            <a href = "./home"><i class="fa-solid fa-house"></i> Home</a>
            <a href = "./budget"><i class="fa-solid fa-chart-pie"></i> Budget</a>
            <a href = "./accounts"><i class="fa-solid fa-building-columns"></i> Accounts</a>
            <a href = "./settings"><i class="fa-solid fa-gear"></i> Settings</a>
         </nav>
      </div>
   </header>
   <main>
      <div id = "budgetSection">
         <div id = 'dateContainer'>
            <h2 id = 'dateText'>Budget for 01/2024</h2>
         </div>

         <div id = "Income" class = "budgetType">
         </div>

         <div id = "Expenses" class = "budgetType">
         </div>
      </div>

      <div id = "statistics">
         <div>
            <img src="../resources/budget/images/budget.png" alt="">
         </div>
         <div id = "summaryContainer">
            <div class = "budgetChartTitle" id = "breakdownHeader">
               <h1>Total Breakdown</h1>
            </div>

            <div id = "summaryCalculation">
               <h2>Income: <span id = "incomeSpan">$0.00</span></h2>
               <h2>Expenses: <span id = "expensesSpan">$0.00</span></h2>
               <div id = "leftOverContainer">
                  <h2>Left Over: <span id = "leftOverSpan">$0.00</span></h2>
               </div>
            </div>
         </div>
      </div>
   </main>

   <div class = 'popupContainers'>
      <div class = 'popup' id = 'addCategoryContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-chart-pie" ></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = "exitAddCategoryIcon"></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "addCategoryForm" class = 'popupForm' novalidate>
               <h2>Add Category</h2>
               <label for="name">Category Name</label>
               <input type="text" name="name" id="name" placeholder="Name">
               <label for="type">Category Type</label>
               <select name="type" id="type">
                  <option value="Income">Income</option>
                  <option value="Expenses">Expenses</option>
               </select>
               <label for="amount">Category Amount</label>
               <input type="number" name="amount" id="amount" step="0.01" placeholder="0.00">
               <button type="submit" id = 'addCategorySubmitButton'>Submit</button>
            </form>
         </div>

      </div>

      <div class = 'popup' id = 'editCategoryContainer'>
         <div class = 'popupIconContainer'>
            <i class = "fa-solid fa-pen-to-square"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = "exitEditCategoryIcon"></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "editCategoryForm" class = 'popupForm' novalidate>
               <h2>Edit Category</h2>
               <label for="name">Category Name</label>
               <input type="text" name="name" id="editName" placeholder="Name">
               <label for="editType">Category Type</label>
               <select name="type" id="editType">
                  <option value="Income" id = 'incomeSelect'>Income</option>
                  <option value="Expenses" id = 'expensesSelect'>Expenses</option>
               </select>
               <label for="amount">Category Amount</label>
               <input type="number" name="amount" id="editAmount" step="0.01" placeholder="0.00">
               <div class = 'sliderContainer'>
                  <label for="remove">Remove Category</label>
                  <label class="switch">
                     <input type="checkbox" name = 'remove' id = 'remove'>
                     <span class="slider"></span>
                   </label>
               </div>
               <button type="submit" id = 'editCategorySubmitButton'>Submit</button>
            </form>
         </div>

      </div>
   </div>

   <footer>
      <div class="footerLinkContainers">
         <h3>Resources</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Guides</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">News</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Tools</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">FAQs</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Blog</a></li>
         </ul>
      </div>
      <div class="footerLinkContainers">
         <h3>Pricing</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Plans</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Fees</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Costs</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Rates</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Billing</a></li>
         </ul>
      </div>
      <div class="footerLinkContainers" id="company_container">
         <h3>Company</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">About</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Mission</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Culture</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Careers</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Partners</a></li>
         </ul>
      </div>

      <div class="footerLinkContainers">
         <h3>Connect</h3>
         <div class = 'storeImageContainer'>
            <img src="../resources/shared/images/apple.png" alt="">
            <img src="../resources/shared/images/google.png" alt="">
         </div>
         <div class="footerMediaLinks" id = 'socialLinks'>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
         </div>
         <h5>Copyright &copy; <span id = 'footerYear'>2024</span> Asset Master &reg;</h5>
      </div>
   </footer>

   <script type="module" src="../resources/budget/scripts/construct.js"></script>
   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/budget/scripts/budget.js"></script>
</body>
</html>