<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/budget/styles/budget.css">
   <title>Asset Master</title>
   <link rel="icon" href="../resources/shared/images/logo.jpg">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
   <header>
      <div class = "headerTitle">
         <img src="../resources/shared/images/logo.jpg" alt="error-image">
         <h1><a href="/users/home">Asset Master</a></h1>
      </div>

      <nav>
         <a href = "/users/home">Home</a>
         <a href = "/users/budget">Budget</a>
         <a href = "/users/accounts">Accounts</a>
         <i class="fa-solid fa-user-secret" id = "profileIcon"></i>
      </nav>

   </header>
   <main>
      <h1>Budget</h1>
   </main>

   <footer>
      Copyright &copy; 2023 Asset Master
   </footer>

   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/budget/scripts/budget.js"></script>
</body>
</html>