<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/landing/styles/landing.css">
   <title>Asset Master</title>
   <link rel="icon" href="../resources/shared/images/logo.jpg">
</head>
<body>
   <div class = "mainPage">
      <div class = "mainImage">
         <img src="../resources/shared/images/error.jpg" alt="error-image">
      </div>
      <div class = "mainText">
         <h1>Asset Master</h1>
         <p class = "errorParagraph">An error occurred while fetching your desired results. Please ensure you have correctly typed the specific domain and refer back to our <a href="/">main page</a> for any updates from the development team!</p>
      </div>
   </div>

   <footer>
      Copyright &copy; 2023 Asset Master
   </footer>
</body>
</html>