<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/shared/styles/form.css">
   <link rel="stylesheet" href="../resources/home/styles/home.css">
   <title>Capital</title>
   <link rel="icon" href="../resources/shared/images/logo.png">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
   <header>
      <div id = 'titleContainer'>
         <img src="../resources/shared/images/logo.png" alt="logo">
         <h1>Capital</h1>
      </div>
   </header>

   <div class = 'navBarContainer'>
      <div>
         <i class="fas fa-bars" id="sidebarIcon"></i>
      </div>

      <nav>
         <div id = 'logoContainer'>
            <img src="../resources/shared/images/logo.png" alt="logo">
            <h1>Capital</h1>
         </div>
         <a href = "./home"><i class="fa-solid fa-house"></i> Home</a>
         <a href = "./budget"><i class="fa-solid fa-chart-pie"></i> Budget</a>
         <a href = "./accounts"><i class="fa-solid fa-building-columns"></i> Accounts</a>
         <a href = "./settings"><i class="fa-solid fa-gear"></i> Settings</a>
      </nav>
   </div>

   <main>
      <div id = 'userData'>
         <div id = 'graphs'>
            <div class = 'mainImage'>
               <img src="../resources/home/images/data.png" alt="">
            </div>
            <div id = 'accounts'>
            </div>
            <div id = 'finances'>
            </div>

            <div id = 'markets'>
               <div class = 'mainImage'>
                  <img src="../resources/home/images/stock.png" alt="">
               </div>
            </div>
         </div>
      </div>

      <div id = 'stories'>
         <div class = 'mainImage'>
            <img src="../resources/home/images/news.png" alt="">
         </div>

      </div>

      <div id = "quoteContainer">
         <blockquote>The best investment you can make is in yourself.</blockquote>
         <cite> Warren Buffett </cite>
      </div>
   </main>

   <footer>
      <div class="footerLinkContainers">
         <h3>Resources</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Guides</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">News</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Tools</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">FAQs</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Blog</a></li>
         </ul>
      </div>
      <div class="footerLinkContainers">
         <h3>Pricing</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Plans</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Fees</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Costs</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Rates</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Billing</a></li>
         </ul>
      </div>
      <div class="footerLinkContainers" id="company_container">
         <h3>Company</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">About</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Mission</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Culture</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Careers</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Partners</a></li>
         </ul>
      </div>

      <div class="footerLinkContainers">
         <h3>Connect</h3>
         <div class = 'storeImageContainer'>
            <img src="../resources/shared/images/apple.png" alt="">
            <img src="../resources/shared/images/google.png" alt="">
         </div>
         <div class="footerMediaLinks" id = 'socialLinks'>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
         </div>
         <h5>Copyright &copy; <span id = 'footerYear'>2024</span> Capital &reg;</h5>
      </div>
   </footer>

   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/home/scripts/home.js"></script>
</body>
</html>