<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/shared/styles/form.css">
   <link rel="stylesheet" href="../resources/credentials/styles/credentials.css">
   <title>Capital</title>
   <link rel="icon" href="../resources/shared/images/logo.png">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
   <main>
      <form id = "loginForm" novalidate>
         <div class = "mainImage">
            <img src="../resources/credentials/images/login.jpg" alt="login-image">
         </div>
         <h1>Login</h1>
         <label for="username">Username</label>
         <input type="text" name="username" id="username" autocomplete = 'username'>

         <div class = 'passwordContainer'>
            <label for="password">Password</label>
            <i class="fa-regular fa-eye" id = "showPassword" data-container = 'password'></i>
            <input type="password" name="password" id="password" autocomplete = 'current-password'>
         </div>
         <button type="submit" id = "submitButton">Submit</button>
         <p>Don't have an account? <a href="/signup">Sign Up</a></p>
      </form>
   </main>

   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/credentials/scripts/login.js"></script>
</body>
</html>