<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/shared/styles/form.css">
   <link rel="stylesheet" href="../resources/settings/styles/settings.css">
   <title>Asset Master</title>
   <link rel="icon" href="../resources/shared/images/logo.jpg">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
   <nav>
      <i class="fa-solid fa-angles-left" id = 'exitSideBarIcon'></i>
      <a href = "./home">Home</a>
      <a href = "./budget">Budget</a>
      <a href = "./accounts">Accounts</a>
      <a href = "./settings">Settings</a>

      <div class = 'sliderContainer'>
         <label class="switch mode">
            <input type="checkbox" name = 'mode' id = 'mode' >
            <span class="slider mode"></span>
          </label>
      </div>
   </nav>
   <header>
      <i class="fas fa-bars" id="sidebarIcon"></i>
      <div class = "headerTitle">
         <i class="fa-solid fa-layer-group fa-xl" id = 'logoIcon'></i>
         <h1>Asset Master</h1>
      </div>
   </header>

   <main>
      <div class = "sectionTitle">
         <img src="../resources/settings/images/settings.png" alt="profile-image">
         <h1>Settings</h1>
      </div>

      <form id = "detailsForm" novalidate>
         <h2>Account Details</h2>
         <hr>
         <div class = "editingContainer">
            <label for="username">Username</label>
            <button type = "button" class = "editCategory" id = 'editUsername'>
               <span>
               <i class = "fa-solid fa-pen-to-square"></i> Edit
               </span>
            </button>
            <input type="text" name="username" id="username" value = "username" disabled>
         </div>
         <div class = "editingContainer">
            <label for="email">Email</label> <br>
            <button type = "button" class = "editCategory" id = 'editEmail'>
               <span>
                  <i class = "fa-solid fa-pen-to-square"></i> Edit
               </span>
            </button>
            <input type="email" name="email" id="email" value = "email" disabled>
         </div>
         <button type="submit" id = "changesButton" disabled>Save Changes</button>
      </form>

      <form id = "securityForm" novalidate>
         <h2>Account Security</h2>
         <hr>
         <div class = 'securityContainer'>
            <h3 class = 'securityTitle'>Change Password</h3>
            <p class = 'securityText'>Set a permanent password to login to your account.</p>
            <button type = 'button' class = 'securityButton' id = 'changePasswordPopUp'>Change Password</button>
         </div>
         <div class = 'securityContainer' id = 'emailContainer'>
            <h3 class = 'securityTitle'>Verify Email</h3>
            <p class = 'securityText'>Keep your account secure via email verification</p>
            <button type = 'button' class = 'securityButton' id = 'verifyEmailPopUp'>Verify Email</button>
         </div>
         <div class = 'securityContainer'>
            <h3 class = 'securityTitle'>Log Out</h3>
            <p class = 'securityText'>End your current viewing session.</p>
            <div class = 'logOutContainer'>
               <i class="fa-solid fa-right-from-bracket" id = 'logOutIcon'></i>
            </div>
         </div>
         <div class = 'securityContainer'>
            <h3 class = 'securityTitle'>Delete Account</h3>
            <p class = 'securityText'>Permanently delete your account, including all data.</p>
            <button type = 'button' class = 'securityButton' id = "deleteButtonPopUp">Delete Account</button>
         </div>
      </form>
   </main>
   <div class = 'popupContainers'>
      <div class = 'popup' id = 'popupPasswordContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-key"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = 'exitPasswordIcon'></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "passwordForm" class = 'popupForm' novalidate>
               <h2>Change Password</h2>

               <div class = 'passwordContainer'>
                  <label for="oldPassword">Old Password</label>
                  <i class="fa-regular fa-eye" id = "showOldPassword" data-container = 'oldPassword'></i>
                  <input type="password" name="oldPassword" id="oldPassword">
               </div>

               <div class = 'passwordContainer'>
                  <label for="password">New Password</label>
                  <i class="fa-regular fa-eye" id = "showPassword" data-container = 'password'></i>
                  <input type="password" name="password" id="password">
               </div>

               <div class = 'passwordContainer'>
                  <label for="additionalPassword">Confirm password</label>
                  <i class="fa-regular fa-eye" id = "showAdditionalPassword"  data-container = 'additionalPassword'></i>
                  <input type="password" name="additionalPassword" id="additionalPassword">
               </div>

               <button type="submit" id = 'passwordSubmitButton'>Submit</button>
            </form>
         </div>
      </div>
   </div>

   <footer>
      Copyright &copy; 2023 Asset Master
   </footer>

   <script type="module" src="../resources/settings/scripts/construct.js"></script>
   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/settings/scripts/settings.js"></script>

</body>
</html>