<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/shared/styles/form.css">
   <link rel="stylesheet" href="../resources/settings/styles/settings.css">
   <title>Asset Master</title>
   <link rel="icon" href="../resources/shared/images/logo.jpg">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
   <header>
      <i class="fas fa-bars" id="sidebarIcon"></i>

      <nav>
         <i class="fa-solid fa-angles-left" id = 'exitSideBarIcon'></i>
         <i class="fa-solid fa-layer-group fa-xl" id = 'logo'></i>
         <h1>Asset Master</h1>
         <a href = "./home"><i class="fa-solid fa-house"></i> Home</a>
         <a href = "./budget"><i class="fa-solid fa-chart-pie"></i> Budget</a>
         <a href = "./accounts"> <i class="fa-solid fa-building-columns"></i> Accounts</a>
         <a href = "./settings"><i class="fa-solid fa-gear"></i> Settings</a>
      </nav>
   </header>

   <main>
      <div class = "sectionTitle">
         <img src="../resources/settings/images/settings.png" alt="profile-image">
         <h1>Settings</h1>
      </div>

      <form id = "detailsForm" novalidate>
         <h2>Account Details</h2>
         <hr>
         <div class = "editingContainer">
            <label for="username">Username</label>
            <button type = "button" class = "editCategory" id = 'editUsername'>
               <span>
               <i class = "fa-solid fa-pen-to-square"></i> Edit
               </span>
            </button>
            <input type="text" name="username" id="username" value = "username" disabled>
         </div>
         <div class = "editingContainer">
            <label for="email">Email</label> <br>
            <button type = "button" class = "editCategory" id = 'editEmail'>
               <span>
                  <i class = "fa-solid fa-pen-to-square"></i> Edit
               </span>
            </button>
            <input type="email" name="email" id="email" value = "email" disabled>
         </div>
         <button type="submit" id = "changesButton" disabled>Save Changes</button>
      </form>

      <form id = "securityForm" novalidate>
         <h2>Account Security</h2>
         <hr>
         <div class = 'securityContainer'>
            <div class = 'securityTextContainer'>
               <h3 class = 'securityTitle'>Change Password</h3>
               <p class = 'securityText'>Set a permanent password to login to your account.</p>
            </div>

            <div class = 'securityButtonContainer'>
               <button type = 'button' class = 'securityButton' id = 'changePasswordPopUp'>Change Password</button>
            </div>
         </div>
         <div class = 'securityContainer'>
            <div class = 'securityTextContainer'>
               <h3 class = 'securityTitle'>Appearance</h3>
               <p class = 'securityText'>Toggle between light and dark mode!</p>
            </div>
            <div class = 'securityButtonContainer'>
               <div class = 'sliderContainer'>
                  <label class="switch mode">
                     <input type="checkbox" name = 'mode' id = 'mode' >
                     <span class="slider mode"></span>
                   </label>
               </div>
            </div>
         </div>
         <div class = 'securityContainer'>
            <div class = 'securityTextContainer'>
               <h3 class = 'securityTitle'>Log Out</h3>
               <p class = 'securityText'>End your current session.</p>
            </div>

            <div class = 'logOutContainer'>
               <i class="fa-solid fa-right-from-bracket logOutIcon"></i>
            </div>
         </div>
         <div class = 'securityContainer'>
            <div class = 'securityTextContainer'>
               <h3 class = 'securityTitle'>Delete Account</h3>
               <p class = 'securityText'>Permanently delete your account, including all sensitive data.</p>
            </div>

            <div class = 'securityButtonContainer'>
               <button type = 'button' class = 'securityButton' id = "deletePopUpButton">Delete Account</button>
            </div>

         </div>
      </form>

   </main>
   <div class = 'popupContainers'>
      <div class = 'popup' id = 'popupPasswordContainer'>
         <div class = 'popupIconContainer'>
            <i class="fa-solid fa-key"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = 'exitPasswordIcon'></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "passwordForm" class = 'popupForm' novalidate>
               <h2>Change Password</h2>

               <div class = 'passwordContainer'>
                  <label for="oldPassword">Old Password</label>
                  <i class="fa-regular fa-eye" id = "showOldPassword" data-container = 'oldPassword'></i>
                  <input type="password" name="oldPassword" id="oldPassword" autocomplete="current-password">
               </div>

               <div class = 'passwordContainer'>
                  <label for="password">New Password</label>
                  <i class="fa-regular fa-eye" id = "showPassword" data-container = 'password'></i>
                  <input type="password" name="password" id="password"  autocomplete="new-password">
               </div>

               <div class = 'passwordContainer'>
                  <label for="additionalPassword">Confirm password</label>
                  <i class="fa-regular fa-eye" id = "showAdditionalPassword"  data-container = 'additionalPassword' ></i>
                  <input type="password" name="additionalPassword" id="additionalPassword" autocomplete="new-password">
               </div>

               <button type="submit" id = 'passwordSubmitButton'>Submit</button>
            </form>
         </div>
      </div>

      <div class = 'popup' id = 'popupDeleteContainer'>
         <div class = 'popupIconContainer' id = 'deleteIconContainer'>
            <i class="fa-solid fa-user-slash"></i>
         </div>
         <div class = 'popupExitContainer'>
            <i class="fa-solid fa-xmark exitFormIcon" id = 'exitDeleteIcon'></i>
         </div>
         <div class ='popupFormContainer'>
            <form id = "deleteForm" class = 'popupForm' novalidate>
               <h2>Delete Account</h2>
               <p>If you wish to delete your account, please enter the message</p>
               <p id = 'deleteMessage'><strong>sudo deluser ${username}</strong></p>

               <label for="message">Enter Message</label>
               <input type="text" name="message" id="message">

               <button type="submit" id = 'deleteSubmitButton'>Submit</button>
            </form>
         </div>
      </div>
   </div>

   <footer>
      <div class="footerLinkContainers">
         <h3>Resources</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Guides</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">News</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Tools</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">FAQs</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Blog</a></li>
         </ul>
      </div>
      <div class="footerLinkContainers">
         <h3>Pricing</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Plans</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Fees</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Costs</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Rates</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Billing</a></li>
         </ul>
      </div>
      <div class="footerLinkContainers" id="company_container">
         <h3>Company</h3>

         <ul>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">About</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Mission</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Culture</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Careers</a></li>
            <li><a href="#" onclick="event.preventDefault()" class="footerLinks">Partners</a></li>
         </ul>
      </div>

      <div class="footerLinkContainers">
         <h3>Connect</h3>
         <div class = 'storeImageContainer'>
            <img src="../resources/shared/images/apple.png" alt="">
            <img src="../resources/shared/images/google.png" alt="">
         </div>
         <div class="footerMediaLinks" id = 'socialLinks'>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
         </div>
         <h5>Copyright &copy; <span id = 'footerYear'>2024</span> Asset Master &reg;</h5>
      </div>
   </footer>

   <script type="module" src="../resources/settings/scripts/construct.js"></script>
   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/settings/scripts/settings.js"></script>

</body>
</html>