<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/shared/styles/form.css">
   <link rel="stylesheet" href="../resources/credentials/styles/credentials.css">
   <title>Capital</title>
   <link rel="icon" href="../resources/shared/images/logo.png">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
   <main>
      <form id = "signUpForm" novalidate>
         <div class = "mainImage">
            <img src="../resources/credentials/images/signup.jpg" alt="signup-image">
         </div>
         <h1>Sign up</h1>
         <label for="username">Username</label>
         <input type="text" name="username" id="username" autocomplete="username">
         <div class = 'passwordContainer'>
            <label for="password">New Password</label>
            <i class="fa-regular fa-eye" id = "showPassword"  data-container = "password"></i>
            <input type="password" autocomplete="new-password" name="password" id="password" >
         </div>
         <div class = 'passwordContainer'>
            <label for="confirmPassword">Confirm password</label>
            <i class="fa-regular fa-eye" id = "showConfirmPassword" data-container = "confirmPassword"></i>
            <input type="password" autocomplete="new-password"  name="confirmPassword" id="confirmPassword">
         </div>
         <label for="email">Email</label>
         <input type="email" name="email" id="email" autocomplete="email">
         <button type="submit" id = "submitButton">Submit</button>
         <p>Already have an account? <a href="/login">Log In</a></p>
      </form>
   </main>

   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/credentials/scripts/signup.js"></script>
</body>
</html>