<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/home/styles/style.css">
   <title>Asset Master</title>
   <link rel="icon" href="../resources/images/logo.png">

</head>
<body>

   <div>
      <h1>HOME!!!</h1>
   </div>

   <footer>
      Copyright &copy; 2023 Asset Master
   </footer>

   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/credentials/scripts/login.js"></script>
</body>
</html>