<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/landing/styles/style.css">
   <title>Asset Master</title>
   <link rel="icon" href="../../resources/shared/images/logo.png">
</head>
<body>

   <div id = "mainPage">
         <h1>Asset Master</h1>
         <p> A data-driven finance tracker created for the intelligent acquisition of capital.</p>
         <div id = "logInSignUpContainer">
            <button id="loginButton" >Login</button>
            <button id="registerButton">Register</button>
         </div>
   </div>

   <footer>
      Copyright &copy; 2023 Asset Master
   </footer>


   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/landing/scripts/main.js"></script>
</body>
</html>