<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../resources/shared/styles/style.css">
   <link rel="stylesheet" href="../resources/shared/styles/form.css">
   <link rel="stylesheet" href="../resources/credentials/styles/style.css">
   <title>Asset Master</title>
   <link rel="icon" href="../../resources/images/logo.png">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
   <form id = "signUpForm">
      <h1>Sign up</h1>
      <label for="username">Username</label> <br>
      <input type="text" name="username" id="username"> <br>
      <label for="password">Password</label>
      <i class="fa-regular fa-eye" id = "showPassword"></i>
      <input type="password" name="password" id="password">
      <label for="additionalPassword">Re-enter password</label>
      <i class="fa-regular fa-eye" id = "showAdditionalPassword"></i>
      <input type="password" name="additionalPassword" id="additionalPassword"> <br>
      <label for="email">Email</label> <br>
      <input type="email" name="email" id="email" novalidate> <br>
      <button type="submit" id = "submitButton">Submit</button>
      <p>Already have an account? <a href="/login">Log In</a></p>
   </form>

   <footer>
      Copyright &copy; 2023 Asset Master
   </footer>

   <script type="module" src="../resources/shared/scripts/shared.js"></script>
   <script type="module" src="../resources/credentials/scripts/signup.js"></script>
</body>
</html>