form{
   width:600px;
   max-width: 90%;
   margin:auto;
   margin-top:2em;


   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   flex-wrap: nowrap;

   text-align: center;
}

form h1{
   font-size: 70px;
   width:100%;
   margin:0 auto 15px auto;
}

form label{
   text-align: left;
   font-weight: bold;
   font-size: 20px;
   width:100%;
}

form p{
   width:100%;
   font-size: 20px;
}

form input{
   box-sizing: border-box;

   border:0;
   outline: none;

   background-color: none;
   border: 1px solid black;
   border-radius: 3px;
   color:black;
   width:100%;
   line-height: 28px;
   padding: 8px 16px;
   font-size: 16px;
   margin-bottom: 20px;
}

form input[disabled]{
   background: #DCDAD1;
}

form button[disabled]{
   background: #DCDAD1;
}

.fa-eye{
   position: relative;
   top:32px;
   left:93%;
   cursor: pointer;
   color:black;
   width:20px;
 }

form input:focus{
   border: 2px solid #08B0FF;
}


form a{
   color:#08B0FF;
   font-weight: bolder;
   text-decoration: none;
   text-align: center;
}


.editCategory{
   outline:none;
   border:none;
   background:transparent;
   color:#178eef;
   font-size:16px;
   font-weight: bolder;
   text-align: right;
   margin:0;
   padding:0;
}

.editCategory:hover{
   box-shadow: none;
}

.editCategory span{
   cursor:pointer;
}

.editCategory:hover{
   transform: translateY(-2px);
}

form hr{
   width:100%;
   color:black;
}

 @keyframes popup {
   0%{

   }
   100%{
      transform: translate(50%,300%);
   }
 }



.formContainer{
   position: absolute;
   transform: translate(50%,-200%);
   border:2px solid black;
   border-radius: 5px;
   color:black;
   background-color: white;
   min-height: 500px;
   text-align: center;
   padding:25px;
   z-index:1000;

}

.formContainer.visible {
   transition: all 3s ease-in-out;
   display: fixed;
   animation: popup 1s;
}
.formContainer.hidden {
   display: none;
   animation: popout 10s;
}
.formContainer > form{
   padding:25px;
}

.formContainer h1{
   font-size: 55px;
   margin-bottom:20px;
   margin-top:0;
}

.formContainer label{
   font-size: 18px;
}

.formContainer button{
   background-color: #EC2EFF;
}

.formContainer input, .formContainer select{
   background:#f5f5f5;
   font-weight: bolder;
}

.formContainer button > i{
   margin-left:5px;
}

.formContainer input[type="date"]{
   font-weight: bolder;
   font-size:20px;
}

.formContainer > .exitFormButton{
   position: relative;
   cursor: pointer;
   top:5%;
   right:5%;
   width: 60px;
   border-radius:25px ;
   background:none;
   border:0;
   margin:0;
   font-size: 30px;
   color:red;
}
/* https://loading.io/css/ */
.lds-facebook {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 40px;
   bottom:15px;
   margin:auto;
 }
 .lds-facebook div {
   display: inline-block;
   position: absolute;
   left: 8px;
   width: 16px;
   background: #fff;
   animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
 }
 .lds-facebook div:nth-child(1) {
   left: 8px;
   animation-delay: -0.24s;
 }
 .lds-facebook div:nth-child(2) {
   left: 32px;
   animation-delay: -0.12s;
 }
 .lds-facebook div:nth-child(3) {
   left: 56px;
   animation-delay: 0;
 }
 @keyframes lds-facebook {
   0% {
     top: 8px;
     height: 30px;
   }
   50%, 100% {
     top: 24px;
     height: 20px;
   }
 }
