@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Sans&family=Oswald&family=Roboto:wght@400;500&display=swap');

:root {
   --background-color: white;
   --text-color: #151515;
   --shadow-color:rgba(50, 50, 93, 0.25);
}
html, body {
   width:100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden !important;

   display: grid;
 }

body.dark-mode {
   --background-color: #151515;
   --text-color: white;
   --shadow-color:rgba(178, 178, 192, 0.25);
}

body{
   font-family: 'Inter', sans-serif;
   background-color: var(--background-color);
   color: var(--text-color);
   opacity: 0;

   overflow-x: hidden;
   transition-property: color, background-color;
   transition-duration: 0.5s;
   transition-timing-function: ease-in-out;
}

main{
   width:90%;
   margin:90px auto 90px auto;
   opacity:0;
   transition: opacity 1s ease-in-out;
   grid-column: 2/100;
}

header{
   position: absolute;
   top:0;
   left:0;
   width:100%;
   margin:0;
   z-index: 100;
}

#logo{
   font-size:2.3rem;
}

@keyframes showSideBar{
   from{
      left: -250px;
   }
   to{
      left:0;
   }
}

@keyframes hideSideBar {
   from {
     left: 0;
   }
   to {
     left: -250px;
   }
 }

nav{
   grid-column: 1;
   position: fixed;
   top:0px;

   background-color: var(--text-color);
   color:var(--background-color);

   height:100%;
   min-height:100%;
   padding:20px;


   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: flex-start;
   padding-top:60px;
   gap:0;
   z-index:1000;
   overflow: hidden;
   transition:0.5s width ease-in-out;
}
.navbarShown{
   animation: showSideBar 1s ease-in-out forwards;
}
.navbarHidden{
   animation: hideSideBar 1s ease-in-out forwards;
}
.navLink{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap:10px;
   padding:10px;
   width:100%;
   height:3.5rem;
}

.navLink:hover{
   background:#969A96;
}

.navLink a{
   visibility: hidden;
}
nav a,nav i{
   text-align: center;
   font-size: 1.9rem;
   font-weight: bold;
   text-decoration: none;
   color:var(--background-color);
   cursor:pointer;
   transition: 0.5s ease-in-out;
}

nav a{
   width:100%;
   padding:0 1rem;
   height:4rem;

   font-size:1.2rem;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap:12px;
}

nav .sliderModeContainer{
   margin:0;
}


nav .featureButtons{
   margin-top: auto;
   height:20rem;
   font-size: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:20px;
}

nav .featureButtons i{
   font-size: 2rem;
}

.logOutIcon{
   cursor:pointer;
   font-size:2rem;
   color:var(--background-color);
}

.logOutIcon:hover{
   color:red;
}


button{
   cursor: pointer;
   box-sizing: border-box;
   background-color: #08B0FF;
   border:0;
   border-radius: 5px;
   font-size: 1.2rem;
   font-weight: bold;
   color:white;
   margin-top: 10px;
   height:3.5rem;
   transition:0.5s ease-in-out;
}

.sectionTitle{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   font-size:35px;
   gap:0;
}

.sectionTitle img{
   width:500px;
   max-width:90%;
}

.sectionTitle h1{
   margin:0;
}

.mainImage{
   width:90%;
   margin-left:auto;
   margin-right: auto;
}
.mainImage img{
   max-height: 450px;
   width:auto;
   max-width:100%;
}

@keyframes fadeIn {
   0% {
      transform:scale(0.1);
      opacity: 0;
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
 }

 @keyframes fadeOut {
   from {
      transform: scale(1);
      opacity: 1;
   }
   to {
      opacity: 0;
      transform:scale(0.1);
   }
 }

.error,.informational{
   color:red;
   font-size: 1.1rem;
   font-weight: bolder;
   width:100%;
   margin:10px auto 10px auto;

   transition-property: opacity, transform;
   transition-duration: 0.5s;
   transition-timing-function: ease-in-out;
   animation:fadeIn 0.5s ease-in-out forwards;
}

.informational{
   color:#08B0FF;
}

.errorInput{
   border:2px solid red;
}

.negativeNetWorth{
   color:red;
}
.positiveNetWorth{
   color:green;
}

#errorContainer{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap:20px;

   text-align: center;
   font-size:20px;
}

.buttonFade {
   max-width: 50px;
   max-height: 50px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   transform: scale(1);
   transition-property: transform, height, width, border;
   transition-duration: 0.9s;
   transition-timing-function: ease-in-out forwards;
   z-index: 2000;
}

form button.buttonFade{
   margin:auto;
}

.buttonFade.overtaken {
   width: 100vw;
   height: 100vh;
   transform: scale(250);
}

button:hover {
   box-shadow: var(--shadow-color) 0px 10px 20px,  var(--shadow-color) 0px 6px 6px;
}


footer {
   clear:both;
   text-align: left;
   font-size: 1.3rem;
   width:100%;
   margin:5rem auto 0 auto;

   min-height: 350px;
   border-top: 5px solid;
   border-color: #08B0FF;
   border-image: linear-gradient(160deg, #08B0FF 0%, #80D0C7 100%);
   border-image-slice: 30;
   background-color: #24252A;
   color: white;


   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   column-gap: 1rem;
}

.footerLinkContainers h3 {
   margin-top:0;
   color: white;
   font-size: 1.7rem;
}

.footerLinkContainers {
   height:15rem;
   padding:5px;
   margin: 1.1rem 2.2rem;

   color: #08B0FF;
}

.footerLinkContainers ul {
   padding: 0;
   list-style-type: none;

   font-size: 1.1rem;

   display: flex;
   flex-direction: column;
   align-content: center;
   gap: 10px;
}

.footerLinks {
   color: #08B0FF;
   text-decoration: none;
   cursor: pointer;
}
.storeImageContainer,.footerMediaLinks{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: flex-start;
   text-align: center;
   gap:1.9rem;
}
.footerMediaLinks{
   gap:0.95rem;
}
.storeImageContainer img{
   width:10rem;
   cursor: pointer;
}

footer img:hover,footer i:hover,footer li:hover{
   cursor: pointer;
   transform: translateY(-2px);
   transition:transform 0.5s ease-in-out;
}

.footerMediaLinks i {
   padding: 10px;
   font-size:1.8rem;

   color: #08B0FF;
   text-decoration: none;
   cursor: pointer;
}

.footerMediaLinks i:hover{
   color:white;
}

#socialLinks{
   margin-top:0.8rem;
}

footer h5{
   flex:0;
   width:100%;
   text-align: center;
   line-height: 2rem;
   color:white;
}

footer a:hover {
   cursor:pointer;
   font-weight: bolder;
   color: white;
}


.popup,.popupNotification{
   position:absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%) scale(0.1);

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: var(--background-color);
   color: var(--text-color);

   border:2px solid black;
   border-radius:5px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   padding:30px;

   width:700px;
   max-width:70%;
   max-height:72%;
   z-index:900;
   visibility: hidden;
   opacity: 0;
}


@keyframes popIn {
   from {
      opacity: 0;
      transform:translate(-50%,-50%) scale(0.1);
   }
   to {
      opacity: 1;
      transform: translate(-50%,-50%) scale(1);
   }
 }

 @keyframes popOut {
   from {
      opacity: 1;
      transform: translate(-50%,-50%) scale(1);
   }
   to {
      opacity: 0;
      transform:translate(-50%,-50%) scale(0.1);
   }
 }

.popupShown{
   animation: popIn 1s forwards;
}

.popupHidden{
   animation: popOut 1s forwards;
}

.popupIconContainer{
   position: absolute;
   top:-50px;
   left: 50%;
   transform: translateX(-50%);

   display: flex;
   justify-content: center;
   align-items: center;

   border:2px solid black;
   border-radius:50%;
   box-shadow: var(--shadow-color) 0px 10px 20px, var(--shadow-color) 0px 6px 6px;
   width:100px;
   height:100px;
   background:#08B0FF;
   color:white;

   text-align: center;
   font-size:2.5rem;
}

.popupIconContainer.errorType{
   background-color: red;
}


.popupExitContainer{
   position: absolute;
   color: var(--text-color);
   top:30px;
   right:40px;
   font-weight: bolder;
}

.popupExitContainer i{
   transition:transform 0.5s ease-in;
   font-size: 2.6rem;
   font-weight: bolder;
   cursor:pointer;
}

.popupExitContainer i:hover{
   color:red;
}

.popupExitContainer i.clicked{
   color:red;
   transform: rotate(360deg);
}

@keyframes notificationShow {
   from {
      top:-50%;
      transform:translate(-50%,-50%) scale(0.1);
   }
   to {
      top:13%;
      transform: translate(-50%,-50%) scale(1);
   }
}

@keyframes notificationHide {
   from {
      top:13%;
      transform: translate(-50%,-50%) scale(1);
   }
   to {
      top:-50%;
      transform:translate(-50%,-50%) scale(0.1);
   }
}
.popupNotification{
   position: fixed;
   top: -50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   visibility: visible;
   opacity:1;
   width:500px;
   max-width: 50%;
   height:200px;
   max-height:5vh;
   text-align: center;
}

.notificationShown {
   animation: notificationShow 2s ease-in-out forwards;
}

.notificationHidden {
   animation: notificationHide 2s ease-in-out forwards;
}

.popupNotification p{
   font-size:1.1rem;
   font-weight: bolder;
   margin:0;
}

.popupNotification .popupIconContainer{
   width:50px;
   height:50px;
   top:-35px;
   left:initial;
   font-size:1.3rem;
}

.popupNotification .popupExitContainer{
   top:10px;
   right:20px;
}

.popupNotification .popupExitContainer i{
   font-size:25px;
}

.popupNotification form{
   max-height:200px;
}

@media only screen and (max-width:1000px){
   footer{
      flex-wrap: wrap;
      text-align: center;
      padding-top:2rem;
   }
   .footerMediaLinks{
      flex-wrap: wrap;
      justify-content: center;
   }
   .footerLinkContainers{
      height:auto;
   }
}

@media only screen and (max-width:600px){
   main{
      min-width: 90%;
      margin:auto;
   }
   header{
      padding:0 10px 0 10px;
   }
   .headerTitle{
      margin-top:50px;
      flex-direction: column;
   }

   .headerTitle h1{
      font-size:2.5rem;
   }
   .headerTitle i{
      font-size:3rem;
   }

   #sidebarIcon{
      font-size:2rem;
      margin-left:10px;
   }
   nav{
      width:180px;
   }

}

@media only screen and (max-width:360px){
   .storeImageContainer{
      flex-direction: column;
      justify-content: center;
   }
}