

main{
   display: grid;
   text-align: center;
   grid-template-columns: repeat(5,1fr);
}

#stories{
   grid-row:1;
   grid-column: 4/-1;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   flex-wrap: wrap;
   margin:1em auto;
   line-height: 1.2rem;
   overflow: hidden;
}

.story{
   display: flex;
   flex-direction: row;
   align-items:center;
   justify-content: center;
   flex-wrap: nowrap;
   gap:1.5rem;

   width:90%;
   min-height:13em;
   height:auto;
}

.imageContainer{
   min-width:13.5rem;
   width:13.5rem;
   height:13.5rem;
   min-height:13.5rem;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: var(--text-color) 0px 0px 5px;
}

.imageContainer img{
   width: 100%;
   height:100%;
   object-fit: cover;
}

.storyText{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex-wrap: wrap;
   justify-content: flex-start;
   text-align: left;
   gap:0;

   font-size: 0.8rem;

   max-width: 90%;
   margin:auto;
   min-width: 0;
   padding:0 2em 2em 2em;

}

.storyText *{
   margin:6px 0;
   padding:0;
}

.storyText a{
   font-weight: bolder;
   margin-top:0;
   font-size:1.4rem;
   color:#178eef;
   text-decoration: none;
}

.storyText p{
   font-size:0.9rem;
}

.storyText a:visited{
   color:#178eef;
}

.storyText a:hover{
   color:var(--text-color);
}




#markets{
   font-size:1.3em;
   font-weight: bolder;

   text-align: center;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-start;
   gap:2.5em;
}

.graphContainer{
   min-width: 600px;
   max-width: 600px;
   width: 600px;
   margin:auto;
   overflow: hidden;
}

.graphContainer *{
   font-weight: bolder;
   font-size:1.3rem;
   margin:30px 0;
}

.graphContainer h2,.graphContainer a{
   margin-top:0;
   font-size:2.5rem;
   color:#178eef;
   width:80%;
   margin:auto;
   line-height:3.2rem;
   text-decoration: none;
   word-wrap: break-word;
}

.graphContainer a:hover{
   color:var(--text-color);
}



#userData{
   box-sizing: border-box;

   grid-row:1;
   grid-column: 1/4;
   width: 100%;
   margin:0 auto;

   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   gap:2rem;
   text-align:center;
}
#userData canvas{
   box-sizing: border-box;
   min-width: 100%;
   width:100%;
   margin:auto;
   min-height: 300px;
   height:300px;
}

/*https://codepen.io/JoeHastings/pen/MOdRVm */
#quoteContainer{
   grid-row:2;
   grid-column: 1/-1;
   width:100%;
   margin:4em auto 4em auto;
   text-align: center;
}

blockquote {
	font-weight: bolder;
	font-size: 2rem;
	max-width: 50%;
	line-height: 1.4;
	position: relative;
	margin: 0 auto;
	padding: 1.5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #38ef7d;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -3rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -3rem;
	bottom: 1rem;
}

cite {
	line-height: 3;
	text-align: left;
}

@media only screen and (max-width:1500px) {
   main,#stories{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }



   .story{
      flex-direction: column;
   }
   .storyText{
      text-align: center;
      align-items: center;
      justify-content: center;
   }

   #stories,#markets{
      width:100%;
   }
}
