#loginForm  button{
   background-color: #07EA3A;
}

body{
   opacity: 1;
}

@media only screen and (max-width:1400px) {
   form{
      width:70%;
   }
}

@media only screen and (max-width:900px) {
   form{
      width:95%;
   }

   form p{
      font-size: 18px;
   }

   form h1{
      font-size: 2.9rem;
   }
}
