#loginForm  button{
   background-color: #07EA3A;
}

@media only screen and (max-width:550px) {
   form{
      width:90%;
   }

   .fa-eye{
      left:90%;
   }

   form p{
      font-size: 16px;
   }
}
